@import './reset.css';
@import './global.scss';

body{
    background-color: #da9453;
    font-family: sans-serif;
    position: relative;
    overflow-x: hidden;
}

#main{
    position: relative;
    overflow-x: hidden;

    @include mq-pc{
        left: 100px;
        top: 100px;
    }
    @include mq-not-pc{
        margin-top: 100px;
    }
    padding-bottom: 100px;
}
